* {
	box-sizing: border-box;
}
@font-face {
        font-family: "One Piece";
        src: url("one piece font.ttf");
}

/* removes the margin and padding on the pages that are
set by default */
body, html{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url(OnePiece.jpg);
	background-repeat: no-repeat;
	background-size: cover
}

h1{
	font-family: "One Piece";
	text-align: center;
	font-size: 130px;
	line-height: 0px;
	color: cornflowerblue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#intro{
	font-size: 30px;
	color: #ffdb58;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h2{
	font-family: "One Piece";
	text-align: center;
	font-size: 45px;
	line-height: 0.7em;
	color: cornflowerblue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#summary{
	width: 70%;
	border-style: dashed;
	border-width: medium;
	border-color: #86D3FF;
	color: whitesmoke;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.Crew{
	width: 70%;
	border-style: dashed;
	border-width: medium;
	border-color: #86D3FF;
	color: whitesmoke;
	margin: 0 auto;
	margin-bottom: 30px;
}
.rowview{
	display: flex;
}
.characters{
	width: 20%;
	text-align: center;
	
}

.charactersimage{
	border-style: solid;
	border-color: cornflowerblue;
	border-width: medium;
}

.charactersname{
	font-family: "One Piece";
	font-style: bold;
	font-size: 30px;
	line-height:0px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
